<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mongo-Node-Express App</title>
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <style>
        body { padding-top: 50px; }
    </style>
</head>

<body>