<% include partials/header %>

<div class="container">

    <h1><%= title %></h1>

    <ul>
        <% employees.forEach(function (employee) { %>
            <li><%= employee.first_name %> <%= employee.last_name %></l1>
        <% }) %>
    </ul>

    <h2>Add Employee</h2>

    <% if (errors != undefined) { %>
        <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <form method="POST" action="/employees/add">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="John">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Doe">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="john@doe.com">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<% include partials/footer %>
